<div class="content-txt">
	<h1>Заказ принят</h1>
	<p><strong>Номер Вашего заказа - <%= @order.id %>.</strong></p>
	<p>Для уточнения подробностей наши менеджеры свяжутся с Вами по телефону в ближайшее время.</p>
</div>